html {
    max-width: 960px;
}

img {
    max-width: 475px;
}

figure {
    padding: 2%;
    background-color: tan
}

figcaption {
    font-size: 85%;
    font-family:Arial, Helvetica, sans-serif
}

p{
    font-family: 'Glass Antiqua', cursive;
    font-family: 'Noto Color Emoji', sans-serif;
    font-family: 'Roboto Serif', serif;
}